body {
    background-color: #0C2053;
    font-family: Helvetica, sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.aboutInfo {
    display: flex;
    flex: center;
}

#tech {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
figcaption {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -20px;
}

figure > img {
    height: 150px;
    max-width: 150px;
}

footer {
    text-align: center;
}